.colorpicker {
  z-index: 600;
}

.js-off-canvas-dialog-open {
  .dialog-off-canvas-main-canvas {
    padding-right: 420px !important;
  }
  .ui-widget.ui-dialog.ui-dialog-off-canvas {
    width: 420px !important;
  }
  .field-multiple-drag .tabledrag-handle {
    margin-right: 0;
    margin-left: 5px;
  }
}

@media only screen and (min-width: 1100px) {
  .js-off-canvas-dialog-open .dialog-off-canvas-main-canvas {
    padding-right: 520px !important;
  }

  .js-off-canvas-dialog-open .ui-widget.ui-dialog.ui-dialog-off-canvas {
    width: 520px !important;
  }
}

@media only screen and (min-width: 1600px) {
  .js-off-canvas-dialog-open .dialog-off-canvas-main-canvas {
    padding-right: 620px !important;
  }

  .js-off-canvas-dialog-open .ui-widget.ui-dialog.ui-dialog-off-canvas {
    width: 620px !important;
  }
}


body #drupal-off-canvas tr td:first-child,
#drupal-off-canvas tr th:first-child {
  padding-left: 5px;
  padding-right: 5px;
  width: 30px;
}

body.js-off-canvas-dialog-open #drupal-off-canvas th:first-child,
#drupal-off-canvas td:first-child {
  width: 40px;
}

.paragraph-type-title {
  font-size: 16px;
}

body.js-off-canvas-dialog-open #drupal-off-canvas {
  .field--name-thumbnail {
    margin-bottom: 5px;
    text-align: center;
  }
  .media-library-item__name {
    margin-bottom: 10px;
  }
  legend {
    margin-bottom: 5px;
    .fieldset-legend {
      font-size: 14px;
    }
  }
  .form-textarea-wrapper {
    margin-top: 3px;
    .form-type-textarea > label {
      font-size: 14px;
      margin-bottom: 3px;
    }
  }
  .field--type-text-long {
    margin-bottom: 15px;
  }

  .paragraphs-dropbutton-wrapper {
    margin-top: 20px;
    margin-bottom: 20px;
  }

  .tabledrag-toggle-weight-wrapper {
    padding-top: 0;
  }

  h4 {
    margin-top: 0;
  }
}
